@model QR_Code_Reader.Models.BLL.UserCovidTest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow my-4">
            <div class="card-header py-4">
                QR Kod   Əlavə et <a asp-action="Index" class="float-right btn btn-outline-secondary">Geri Dön</a>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.NameSurname" class="control-label">Adı Soyadı</label>
                                <input type="text" asp-for="@Model.NameSurname" id="Name" class="form-control" />
                                <span asp-validation-for="@Model.NameSurname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.FhaterName" class="control-label">Ata adı</label>
                                <input type="text" asp-for="@Model.FhaterName" id="FhaterName" class="form-control" />
                                <span asp-validation-for="@Model.FhaterName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Age" class="control-label">Yaş</label>
                                <input type="number" asp-for="@Model.Age" id="Age" class="form-control" />
                                <span asp-validation-for="@Model.Age" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Sex" class="control-label">Cinsiyyet</label>
                                <input type="text" asp-for="@Model.Sex" id="Sex" class="form-control" />
                                <span asp-validation-for="@Model.Sex" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Department" class="control-label">Şöbə</label>
                                <input asp-for="@Model.Department" id="Department" class="form-control" />
                                <span asp-validation-for="@Model.Department" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.OnRequest" class="control-label">İstək zamanı</label>
                                <input type="date" asp-for="@Model.OnRequest" id="OnRequest" value="2021-12-08" class="form-control" />
                                <span asp-validation-for="@Model.OnRequest" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.TimeOfIssue" class="control-label">Təsdiq zamanı</label>
                                <input type="date" asp-for="@Model.TimeOfIssue" id="TimeOfIssue" value="2021-12-08" class="form-control" />
                                <span asp-validation-for="@Model.TimeOfIssue" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.AtTheTimeOfApproval" class="control-label">Nəticənin çıxma vaxtı</label>
                                <input type="date" asp-for="@Model.AtTheTimeOfApproval" id="AtTheTimeOfApproval" value="2021-12-08" class="form-control" />
                                <span asp-validation-for="@Model.AtTheTimeOfApproval" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Doctor" class="control-label">Həkim</label>
                                <input asp-for="@Model.Doctor" id="Doctor" class="form-control" />
                                <span asp-validation-for="@Model.Doctor" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="Covid-results" style=" border: 2px solid; padding: 20px; display: flex; width: 100%;  margin: 20px 0px;">
                            <div class="form-group" style=" width: 33%; margin-right: 20px;">
                                <label asp-for="@Model.Indicators" class="control-label">Göstəricilər</label>
                                <input asp-for="@Model.Indicators" id="Indicators" class="form-control" />
                                <span asp-validation-for="@Model.Indicators" class="text-danger"></span>
                            </div>
                            <div class="form-group"  style=" width: 33%; margin-right: 20px;">
                                <label asp-for="@Model.Result" class="control-label">Nəticə</label>
                                <input asp-for="@Model.Result" id="Indicators" class="form-control" />
                                <span asp-validation-for="@Model.Result" class="text-danger"></span>
                            </div>
                            <div class="form-group"  style=" width: 33%; margin-right: 20px;">
                                <label asp-for="@Model.Norm" class="control-label">Norma</label>
                                <input asp-for="@Model.Norm" id="Indicators" class="form-control" />
                                <span asp-validation-for="@Model.Norm" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <input type="submit" value="Əlavə et" id="btnAddModels" class="btn btn-success name" />
                    </div>
                </form>

                @if (ViewBag.QRCode != null)
                {
                    <img src="@ViewBag.QRCode" style="width:300px; height:300px;" alt="QR Code" />
              
                }

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $('#datetimepicker').datetimepicker({

            language: 'en-US',
            format: 'dd-MM-yyyy'

        });
    </script>

}



