@model IEnumerable<QR_Code_Reader.Models.BLL.UserCovidTest>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                QR Kod
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between my-3" style="float:right">
                    <a asp-action="Create" class="btn btn-outline-dark"><i class="fas fa-fw fa-plus"></i>Elave et</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-shorting" id="dataTable">
                        <thead>
                            <tr>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Doğum tarixi</th>
                                <th>COVID - 19 <br /> Test Kodu  </th>
                                <th><span style="color:Highlight">Göstər</span> - <span style="color:red">Sil</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr data-id="@item.Id">

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>

                                <td>
                                    @item.BirthDay.ToShortDateString()
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CovidCode)
                                </td>
                                <td>
                                    <a asp-action="ShowUserInfo" asp-route-id="@item.Id" class="btn text-primary"><img src="https://img.icons8.com/cotton/64/000000/qr-code--v1.png"  style=" width: 30px;"/></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn text-danger" onclick="return confirm('Are you sure you want to delete it')"><i class="fas fa-fw fa-trash"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





